<div class="d-flex justify-content-center">
  <div class="p-2">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-outline-dark" (click)="greetEs()">
          <img src="../../../assets/images/colombia.png" alt="ES" style="width: 30px;">
        </button>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-outline-dark" (click)="greetEn()">
          <img src="../../../assets/images/estados-unidos.png" alt="EN" style="width: 30px;">
        </button>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-outline-dark" (click)="greetFr()">
          <img src="../../../assets/images/francia.png" alt="FR" style="width: 30px;">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card main-card mb-3" style="box-shadow: 5px 5px 6px grey;">
  <div class="app-header-left" style="margin: 9px 0 9px 16px;">
    <div class="search-wrapper" [class.active]="isActive">
      <div class="input-holder">
        <input type="text" class="search-input" id="filterPost" name="filterPost" placeholder="cedula o apellidos" [(ngModel)]="filterPost">
        <button class="search-icon" (click)="isActive = true"><span></span></button>
      </div>
      <button class="close" (click)="isActive = false"></button>
    </div>
  </div>
  <table class="table table-striped table-bordered" style="margin-left: 16px; width: 97% !important;">
    <thead>
    <tr>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas | filter:filterPost | paginate: { itemsPerPage: 3, currentPage: p }">
        <td>{{persona.cedula}}</td>
        <td>{{persona.nombres}}</td>
        <td>{{persona.apellidos}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
